/* General Body Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #120323;
    color: #97bf04;
    text-align: center;
    padding: 20px;
}

header img {
    display: block;
    margin: 0 auto;
}
