/* General Body Styles */
body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: 100vh;
}

/* Header */
.header-container {
    background-color: #120323;
    color: #97bf04;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.header-container img {
    max-width: 100%;
    height: auto;
    max-width: 150px;
}

.header-container h1 {
    margin: 0;
}

/* Main Content */
#container {
    display: flex;
    flex: 1;
    padding: 2rem;
    gap: 2rem;
    margin-right: 0;
    flex-wrap: wrap;
}

/* Main Section */
main {
    flex: 2;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
}

figure {
    display: flex;
    gap: 20px;
    flex: 1;
    margin: 0;
}

figure img {
    max-width: 300px;
    border: 5px solid #d9043d;
    height: auto;
    object-fit: cover;
}

figcaption {
    flex: 1;
}

figcaption h2 {
    margin-top: 0;
}

/* Sidebar */
aside {
    background-color: #97bf04;
    flex: 0 0 25%;
    padding: 1rem;
    min-height: 300px;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

aside h3 {
    margin-top: 0;
}

aside p {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
    margin-top: auto;
}

/* Responsive Design */

/* Desktop Breakpoint */
@media screen and (min-width: 1000px) {
    #container {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 2rem;
    }

    main {
        flex-direction: row;
        gap: 2rem;
    }

    aside {
        flex: 0 0 25%;
        margin-left: 0;
        width: auto;
    }
}

/* Tablet Breakpoint */
@media screen and (max-width: 1024px) and (min-width: 768px) {
    #container {
        flex-direction: row;
        justify-content: space-between;
    }

    aside {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Mobile Breakpoint */
@media screen and (max-width: 768px) {
    #container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    aside {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    figure {
        flex: 1 1 100%;
    }
}
